
  .container {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
    background-color: #4a65d3; 
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(255, 119, 0, 0.1); 
  }
  
  .barra {
    width: 100%; 
    margin-bottom: 20px; 
  }
  
  .publisher-info {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
  }
  
  .example-half-width {
    flex: 1; 
  }
  
  .button-container {
    text-align: center; 
    margin-top: 20px; 
  }

  .example-form {
    background-image: url('https://images.unsplash.com/photo-1552319704-41c50c38c26e?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Cambia esta ruta por la ubicación de tu imagen */
    background-size: 30xp 30px; /* Ajusta la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 20px; /* Ajusta el espaciado como desees */
    border-radius: 8px; /* Añade bordes redondeados si lo deseas */
  }

  

  


 
  
  